.header__link {
    text-decoration: none;
    margin: 0;
    padding: 6px 3px 32px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(255, 255, 255, 1);
    transition: opacity 0.3s ease-in-out;
}

.header__link:hover {
    opacity: .5;
}

@media screen and (min-width: 900px) {
    .header__link {
        font-size: 18px;
        line-height: 22px;
    }
}