.form__subtitle {
    margin: 0 auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 20px 0 0;
}

@media screen and (min-width: 600px) {
    .form__subtitle {
        padding-top: 15px;
    }
}